<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MotorBlock</title>

   

    <!-- Custom styles for this template-->
    <link href="/MotorBlockchain/src/app/pages/crear-transaccion/sb-admin-2.css" rel="stylesheet">

    <link href="/MotorBlockchain/src/app/pages/crear-transaccion/sb-admin-2.min.css" rel="stylesheet">
    
    
</head>
<app-navbar></app-navbar>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
      
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

<!------------------------------------------------------------------NAVBAR-------------------------------------------------------------------------------------- -->
                
<!--------------------------------------------------------------CONTENIDO--------------------------------------------------------------------------------------------->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    
                    
                    <div>
                        <div class="container">
                            <h1 style="margin-top: 20px;">Crear registro</h1>
                            <p style="margin-top: 20px;">Registrar informacion sobre un vehiculo</p>
                        
                            <br>
                        
                            <div class="form-group">
                                <label for="fromAddress">Vehiculo</label>
                                <input type="text" class="form-control" id="ifromAddress" pattern="[A-Za-z]{3}[1-9]{4}" aria-describedby="fromAddressHelp" [(ngModel)]="nuevaTransaccion.vehiculo" required>
                                <small id="fromAddressHelp" class="form-text text-muted">
                                    Matricula del vehiculo.
                                </small>
                                
                              </div>
                        
                              <div  class="form-group">
                                <label for="toAddress">Taller</label>
                                <input type="text" class="form-control" id="toAddress" aria-describedby="toAddressHelp" placeholder="" [(ngModel)]="nuevaTransaccion.taller" disabled>
                                <small id="toAddressHelp" class="form-text text-muted">
                                    Waller del taller que valida el registro. Al tener que iniciar sesion con su cuenta no se puede cambiar. 
                                </small>
                              </div>
                        
                              <div class="form-group">
                                <label for="amount">Tipo Consulta</label><br>
                                <select style="width: 400px;height:40px" id="opciones" [(ngModel)]="nuevaTransaccion.tipoConsulta"  required>
                                    <option value="Motor">Motor</option>  
                                    <option value="Aceite">Aceite</option>
                                    <option value="Carburante">Carburante</option>
                                    <option value="Asientos">Asientos</option>
                                    <option value="Radio">Radio</option>
                                </select>
                                <!--<input type="text" class="form-control" id="amount" aria-describedby="amountHelp" [(ngModel)]="nuevaTransaccion.tipoConsulta">-->
                                <small id="amountHelp" class="form-text text-muted">
                                    Tipo de consulta del vehiculo.
                                </small>
                                
                              </div>
                        
                            <div class="form-group">
                                <label for="amount">Detalles</label>
                                <input type="text" class="form-control" id="amount" aria-describedby="amountHelp" [(ngModel)]="nuevaTransaccion.detalles" required>
                                <small id="amountHelp" class="form-text text-muted">
                                    Breve descripcion de la consulta.
                                </small>
                              </div>
                        
                              <br>
                              <style>
                                  .btn-a
                                  {
                                    background-color: black;
                                    color:aliceblue;
                                    
                                  }
                                  
                              </style>
                              <div class="b">
                                <button (click)="crearTransaccion()" type="submit"  class="btn-a" >Crear registro del vehiculo</button>
                                
                              </div>
                        </div>
                    </div>                          
                </div>             
            </div>
        </div>
    </div>
</body>

</html>