<p>Bloque Genesis. Generado manualmente</p>

<p >Este bloque no tiene transacciones</p>

<table >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Vehiculo</th>
        <th scope="col">Taller</th>
        <th scope="col">Tipo Reparacion</th>
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td></td>
        <td class="text-truncate" style="max-width: 100px;">
  
          <!--{{tx.vehiculo}}-->
          
        </td>
        <td class="text-truncate" style="max-width: 100px;">
  
           <!-- {{tx.taller}}-->
            
        </td>
        <td class="text-truncate" style="max-width: 100px;">
  
           <!-- {{tx.tipoConsulta}}-->
            
        </td>
        <td class="text-truncate" style="max-width: 100px;">
  
           <!-- {{tx.detalles}}-->
            
        </td>
      </tr>
    </tbody>
  </table>