<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
      &nbsp;MotorBlockchain
    </a>
  
    <div>
      <button class="btn btn-outline-light" routerLink="/nuevaTransaccion">Crear Transaccion</button>
      &nbsp;
      <button class="btn btn-outline-light" routerLink="/transaccionesPendientes">Transacciones Pendientes</button>
      &nbsp;
      <button class="btn btn-outline-light" routerLink="/searchMatricula">Buscar por matricula</button>
      &nbsp;
      <button class="btn btn-outline-light" routerLink="/logOut">Log out</button>
    </div>
</nav>