<app-navbar></app-navbar>
<br>
<div class="container">
	<h1>Bloques de la cadena</h1>
	<p>Cada tarjeta representa un bloque. Clique en un bloque para ver las transacciones almacenadas.</p>
</div>

<div class="container" style="overflow-x: scroll;white-space: nowrap;">
	<app-ver-bloque
		*ngFor="let block of bloques" 
		[block]="block" 
		(click)="verTransacciones(block)"
	></app-ver-bloque>
</div>

<br><br>

<div class="container">
	<h1>Transacciones dentro del bloque</h1>

	<app-tabla-transacciones
		[transacciones]="bloqueSeleccionado.transacciones"
	></app-tabla-transacciones>
</div>
